.background img {
  height: 50px;
  width: 50px;
}

h1 {
  font-family: Lucida Handwriting;
  font-size: 40px;
  color: rgb(138, 61, 61);
  text-align: center;
}

.description {
  font-family: Verdana, sans-serif;
  font-style: italic;
  font-size: 17px;
  color: whitesmoke;
  text-align: center;
  text-decoration: underline 3px;
  text-decoration-style: wavy;
}

hr {
  height: 3px;
  border-color: #B4C6D4;
}

h2 {
  font-family: courier New;
  font-weight: 600;
  color: rgb(138, 61, 61);
}

.bio {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  color: white;
  opacity: .9;
}


h1:hover{
  color: gray!important;
}

h2:hover{
  color: gray!important;
}

.links {
  text-decoration: none; 
}

.website {
  text-decoration: none;
}

button {
  height: 50px;
  background-color: transparent;
  color: white;
  border-color: white;
  cursor: pointer;
}

.links {
  display: flex;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
}

.images:hover {
  color: white;
}

.images {
  color: rgb(134, 104, 109);
}